div#nav-tabs
   a#nav-home(href="#",onclick="openTab('home')") home
   a#nav-chat(href="#",onclick="openTab('chat')") chat
   a#nav-people(href="#",onclick="openTab('people')") people
   a#nav-files(href="#",onclick="openTab('files')") files
   a#nav-options(href="#",onclick="openTab('options')") options
   a(href="/logout") exit
