<div>
	
	<div class="text-center"><img id="logo" src="logo.png" /></div>
	
	<h2 class="text-center">...::[ open your game ]::...</h2>
	<div class="new-game">
		<div class="row">
			<div class="text-right">game:</div>
			<div class="text-left"><select id="gameselect"></select></div>
		</div>
		
		<div class="row">
			<div class="text-right">terminal width (cols):</div>
			<div class="text-left"><select id="term-cols">
			</select></div>
		</div>
		
		<div class="row">
			<div class="text-right">terminal height (rows):</div>
			<div class="text-left"><select id="term-rows">
			</select></div>
		</div>
		
		<!--<div class="row">-->
		<!--	<div class="text-right">terminal font:</div>-->
		<!--	<div class="text-left"><select id="term-font">-->
		<!--		<option value="monospace">default monospace</option>-->
		<!--	</select></div>-->
		<!--</div>-->
		
		<div class="row">
			<div class="text-right">subwindows:</div>
			<div class="text-left">
				<select id="subwindows">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
<<<<<<< HEAD
=======
					<option value="7">7</option>
>>>>>>> origin/master
				</select>
			</div>
		</div>
		<div class="hidden row">
			<div class="text-right">ASCII walls:</div>
			<div class="text-left">
				<select id="ascii-walls">
<<<<<<< HEAD
					<option value="no">no</option>
					<option value="yes">yes</option>
=======
					<option value="yes">yes</option>
					<option value="no">no</option>
>>>>>>> origin/master
				</select>
			</div>
		</div>
		<div class="row">
			<p id="game-description"></p>
		</div>
		<div class="row">
			<a id="playbutton" href="#">play</a>
		</div>
	</div>
	
	<!--<div id="playmenu">-->
	<!--	<label>Game:</label>-->
		
	<!--	<div id="gamedescription"></div>-->
	<!--	<label style="display:none;">columns</label>-->
	<!--	<input style="display:none;" id="columns" type="number" min="80" max="215">-->
	<!--	<label style="display:none;">rows</label>-->
	<!--	<input style="display:none;" id="rows" type="number" min="47" max="66">-->
	<!--	<label>subwindows:</label><input id="panels" type="number" min="1" max="6" value="1">-->
	<!--	<label>ascii walls:</label><input id="walls" type="checkbox">-->
	<!--	<button id="playbutton">Play</button>-->
	<!--</div>-->
	
	<h2 class="text-center">...::[ watch people playing ]::...</h2>
	<div id="watchmenu" class="text-center">
		<ul></ul>
	</div>
	
</div>