<div id="files">
	<%= JSON.stringify(files) %>
</div>
<script>
var filelinks = JSON.parse(document.getElementById("files").innerHTML);
var list = '<ul>';
for (var i in filelinks){
	list+='<li>'+i+'<ul>';
	for (var j in filelinks[i]){
			list+='<li>';
			list+='<a href="/user/'+document.getElementById("username").innerHTML+'/'+i+'/'+filelinks[i][j]+'">';
			list+=filelinks[i][j]
			list+='</a>';
			list+='</li>';
	}
	list+='</ul></li>';
}
list += '</ul>';
document.getElementById("files").innerHTML=list;
</script>