<!DOCTYPE html>
<html>
  <head>
    <title>Angband Live</title>
	<meta name="description" content="Web based client for playing Angband and select variants remotely. Supports recording and live spectating.">
	<link rel="stylesheet" href="/xterm.css" />
	<link rel='stylesheet' href='/style.css' />
	<script src="/xterm.js" ></script>
	<script src="/addons/fit/fit.js" ></script>
    <script src="/addons/attach/attach.js" ></script>
	<script src="/main.js" defer></script>
 </head>
  <body>
	<div id="container">
		<header>
			<img id="logo" src="logo.png"></img>
			<div id="userinfo">
				<% if (typeof(user) == 'undefined') { %>
					<% include login %>
				<% } else { %>
					<span>Logged in as <%= user.username%><a href="/users/logout"> Log Out </a></span>
				<% } %>
			</div>
		</header>
		<div id="terminal-container">
			<% include watchmenu %>
		</div>
		<div id="menu">
			<% if (typeof(user) != 'undefined') { %>
			<div id="playmenu">
			<ul>
			<% if (user.username == 'borg') { %>
				<li><button id="newgame-borg">Launch borg</button></li>
				<li><button id="resume-borg">Command borg</button></li>
			<% } else { %>
				<li><button id="newgame-angband">Angband</button></li>
				<li><button id="newgame-master">Angband nightly build</button></li>
				<li><button id="newgame-poschengband">Poschengband</button></li>
				<li><button id="newgame-faangband">FAangband</button></li>
				<li><button id="newgame-nppangband">NPPAngband</button></li>
				<li><button id="newgame-nppmoria">NPPMoria</button></li>
			<% } %>
			</ul>
			</div>
			<% } %>
			<div id="chat"></div>
		</div>
	</div>
  </body>
</html>