<!DOCTYPE html>
<html>
  <head>
    <title>GwaRL.xyz</title>
	<link rel="stylesheet" href="/xterm.css" />
	<link rel='stylesheet' href='/style.css' />
	<script src="/xterm.js" ></script>
	<script src="/addons/fit/fit.js" ></script>
    <script src="/addons/attach/attach.js" ></script>
 </head>
  <body>
	<% if (typeof(user) == 'undefined') { %>
		<% include login %>
	<% } else { %>
		<div id="controls">
		<button id="newgame-angband">Angband</button>
		<button id="newgame-poschengband">Poschengband</button>
		<button id="newgame-faangband">FAangband</button>
		<span>Logged in as <%= user.username%></span>
		<a href="/users/logout"> Log Out </a>	
		</div>
	<% } %>
	<div id="watch-menu">
	
	</div>
	<div id="terminal-container"></div>
	<script src="/main.js" defer></script>
  </body>
</html>