<!DOCTYPE html>
<html>
  <head>
    <title>Angband Live</title>
	<meta name="description" content="Web based client for playing Angband and select variants remotely. Supports recording and live spectating.">
	<link rel='stylesheet' href='/style.css' />
	<link rel='stylesheet' href='/term.css' />
	<script src="term.js" ></script>
	<script src="/main.js" defer></script>
 </head>
  <body>
	<div id="container">
		<header>
			<img id="logo" src="logo.png"></img>
			<div id="userinfo">
				<% if (typeof(user) == 'undefined') { %>
					<% include login %>
				<% } else { %>
					<span>Logged in as <%= user.username%><a href="/logout"> Log Out </a></span>
				<% } %>
			</div>
		</header>
		<div id="terminal-container">
			<% if (typeof(user) != 'undefined') { %>
				<div id="playmenu">
				<% if (user.username == 'borg') { %>
					<button id="newgame-borg">Launch borg</button>
				<% } else { %>
					<button id="newgame-angband">Angband</button>
					<button id="newgame-poschengband">Poschengband</button>
					<button id="newgame-faangband">FAangband</button>
				<% } %>
				</div>
			<% } %>
			<% include watchmenu %>
		</div>
		<div id="menu">
		<% if (typeof(user) != 'undefined') { %>
			<% include chatroom %>
		<% } %>
		</div>
	</div>
  </body>
</html>