<!DOCTYPE html>
<html>
  <head>
    <title>Angband Live</title>
	<meta name="description" content="Web based client for playing Angband and select variants remotely. Supports recording and live spectating.">
	<link rel='stylesheet' href='/style.css' />
	<script src="term.js" ></script>
	<script src="/main.js"></script>
  </head>
  <body>
	<div id="container">
		<div id="terminal-container">
			<img id="logo" src="logo.png"></img>
			<% if (typeof(user) != 'undefined') { %>
				<% include playmenu %>
			<% } %>
			<% include watchmenu %>
		</div>
		<div id="menu">
		<div id="settings">
			<div id="userinfo">
				<% if (typeof(user) == 'undefined') { %>
					<% include login %>
				<% } else { %>
					Logged in as <span id="username"><%= user.username%></span> <a href="/logout">Log Out</a>
				<% } %>
			</div>
			<label>Font:</label>
			<select id="fontselect">
				<option value='"Consolas", monospace'>Consolas</option>
				<option value='"Courier", monospace'>Courier</option>
				<option value='"DejaVu Sans Mono", monospace'>DejaVu Sans Mono</option>
				<option value='"Lucida Console", monospace'>Lucida Console</option>
			</select> 
		</div>
		<% if (typeof(user) != 'undefined') { %>
			<% if (user.username=='Gwarl') { %>
				<% include debug %>
			<% } %>
			<% include dumplinks %>
			<% include chatroom %>
		<% } %>
		</div>
	</div>
	<script>
	document.getElementById('fontselect').onchange = function(){
		document.body.style.fontFamily=document.getElementById('fontselect').value;
		adjustsize();
	};
	document.body.style.fontFamily=document.getElementById('fontselect').value;
	adjustsize();
	</script>
  </body>
</html>