<form id="login-form" method="post">
	<label>Username:</label>
	<input type="text" name="username"/>
	<label>Password:</label>
	<input type="password" name="password"/>
</form>
<button type="submit" onclick="signIn()">Sign in</button>
<script>
	var loginform = document.getElementById("login-form");
	function signIn(){
		loginform.action = "/users/signin";
		loginform.submit();
	}
</script>