<form id="login-form" method="post">
	<label>Username:</label>
	<input type="text" name="username"/></br>
	<label>Password:</label>
	<input type="password" name="password"/></br>
</form>
<button type="submit" onclick="signIn()">Sign in</button>
<script>
	var loginform = document.getElementById("login-form");
	function signIn(){
		loginform.action = "/signin";
		loginform.submit();
	}
</script>