<div id="playmenu">
	<div id="gamelist">
	<% if (user.username == 'borg') { %>
		<button id="newgame-borg">Launch borg</button>
	<% } else { %>
		<button id="newgame-angband">Angband</button>
		<button id="newgame-poschengband">Poschengband</button>
		<button id="newgame-faangband">FAangband</button>
		<button id="newgame-sil">Sil</button>
	<% } %>
	</div>
	<label style="display:none;">columns</label><input id="columns" type="number" min="80" max="215" value="150">
	<label style="display:none;">rows</label><input id="rows" type="number" min="39" max="66" value="50">
	<label>subwindows</label><input id="panels" type="number" min="1" max="6" value="1">
</div>
<script>
document.getElementById("columns").value=dimensions.cols;
document.getElementById("rows").value=dimensions.rows;
document.getElementById("columns").style.display="none";
document.getElementById("rows").style.display="none";
document.getElementById("columns").addEventListener("input",function(){
	dimensions.cols=document.getElementById("columns").value;
	adjustsize();
});
document.getElementById("rows").addEventListener("input",function(){
	dimensions.rows=document.getElementById("rows").value;
	adjustsize();
});

for (var i in games) {
	var playbutton = document.getElementById('newgame-'+games[i]);
	if (playbutton) playbutton.setAttribute('onclick','applyTerminal("play","'+games[i]+'",'+document.getElementById("panels").value+')');
}

document.getElementById("panels").oninput = function(){
	for (var i in games) {
		var playbutton = document.getElementById('newgame-'+games[i]);
		if (playbutton) playbutton.setAttribute('onclick','applyTerminal("play","'+games[i]+'",'+document.getElementById("panels").value+')');
	}
}
</script>