<div class="watchmenu">
	Playing live:
	<ul>
	<% for (i in livematches) { %>
		<li class="livematch">
			<a href="#watch" class="player" onclick='applyTerminal("spectate","<%= livematches[i] %>",{rows:50,cols:150})'><%= livematches[i] %></a>
		</li>
	<% } %>
	</ul>
</div>