html {
	background-color: black;
    background-image: url("/img/bgr_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media only screen and (min-width : 1921px) {
    html {
        background-image: url('/img/bgr_2560.jpg');
    }
}
@media only screen and (max-width : 1280px) {
    html {
        background-image: url('/img/bgr_1280.jpg');
    }
}
@media only screen and (max-width : 1000px) {
    html {
        background-image: url('/img/bgr_1000.jpg');
    }
}
@media only screen and (max-width : 768px) {
    html {
        background-image: url('/img/bgr_768.jpg');
    }
}
html, body {
   line-height: initial;
   height: 100%;
}

html,body,div,p {
   margin:  0;
   padding: 0;
   border:  0;
}

html,body,input,button {
   color: #999;
   font-size: 14px;
   font-family: 'Ubuntu Mono', monospace;
}

input, button {
   background-color: #222325;
   border: 2px solid #46474a;
   padding: 0.2rem 0.4rem;
}

input[type=submit], a { cursor: pointer; color: coral; }


section:not(:last-of-type) {
   margin-bottom: 2rem;
}


section {
   border: 2px solid #323232;
}

section .title, section .footer {
   padding-left: 1rem;
   padding-right: 1rem;
}
section .content { padding: 1rem; }
section .title {
   background-color: rgba(0,0,0,0.7);
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
   color: #bada55;
}
section .content { background-color: rgba(0,0,0,0.5); }
section .content a { color: coral; text-decoration: none; }
section .content b, 
section .content strong
   { color: white; font-weight: 400; }
section .content p:not(:last-of-type) { margin-bottom: 0.5rem; }
section .footer { 
   background-color: rgba(0,0,0,0.7); 
   text-align: right; 
   color: #5e5e5e; 
   padding-top: 2px; 
   padding-bottom: 2px; 
}
section .footer span { color: coral; }
section .content ul {
   margin: 0.5rem 0;
   padding-left: 2rem;
}
section .content ul li {
   list-style-type: square;
}


#grid {
   min-height: 100%;
   margin: 0 auto;
}

#logo, #footer { text-align: center; }

#login form label { display: block; }
#login form input { width: 100%; box-sizing: border-box; }
#login form div:not(:last-of-type) { margin-bottom: 1rem; } 

/* lgog */
#logo { padding: 3rem; }


/* donations block */
#donate input {
   border: 0;
   padding: 0;
}
#donate form { margin-top: 1rem; }
#donate h6 { color: #bada55; margin-top: 1rem; }
#donate .summ { float: right; }
#donate .sign { color: #555; }

/* games */
#games span { color: #bada55; }

/* footer */
#footer { padding: 1rem; }
#footer span {color: coral;}

/* utility classes */
.text-center { text-align: center; }

@supports (display: grid) {

   #grid {
      width: 1200px;
   }

   #grid {
      display: grid;
      grid-row-gap: 1rem;
      grid-column-gap: 2rem;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: min-content min-content min-content min-content auto min-content;
      grid-template-areas: 
         "logo logo"
         "news login"
         "news games"
         "news donate"
         "news empty"
         "footer footer";
   }

   #grid #logo   {grid-area: logo;}
   #grid #news   {grid-area: news;}
   #grid #login  {grid-area: login;}
   #grid #games  {grid-area: games;}
   #grid #donate {grid-area: donate;}
   #grid #footer {grid-area: footer;}


}
