html, body {
   line-height: initial;
   background-color: #171717;
}

html,body,h1,h2,h3,h4,h5,h6,div,p {
   margin:  0;
   padding: 0;
   border:  0;
}

html,body,input,button {
   color: #999;
   font-size: 14px;
   font-family: 'Ubuntu Mono', monospace;
}

input, button {
   background-color: #222325;
   border: 2px solid #46474a;
   padding: 0.2rem 0.4rem;
}

.logo {
   margin-top: 2rem;
   text-align: center;
}
.logo img {
   width: 100%;
   max-width: 370px;
}


section.login {
   text-align: center;
   margin-top: 2rem;
}
section.login form {
   margin: 0 auto;
   display: inline-block;
}
section.login div {
   margin-bottom: 0.5rem;
}
section.login label {
   margin-right: 10px;
}
section.login button {
   width: 100%;
   cursor: pointer;
}
section.login button:hover {
   color: coral;
}


section.news                            { width: 100%; margin: 4rem auto 0 auto; }
section.news header                     { font-size: 1.8rem; font-weight: 500; text-align: center; }
section.news article                    { margin-top: 1rem; background-color: #303030; padding: 0.5rem; }
section.news article header             { font-size: 1rem; color: #bada55; text-align: left; }
section.news article header .timestamp  { color: #a5a5a5; float: right; font-size: 1rem; }



/*  mobile-first by design, then media queries */
/* 600px and up */
@media only screen and (min-width: 600px) {
   html,body,input,button {
      font-size: 16px;
   }
   section.news { width: 500px; }
}


@media only screen and (min-width: 1000px) {
   html,body,input,button {
      font-size: 16px;
   }
   section.news { width: 700px; }
}

@media only screen and (min-width: 1600px) {
   html,body,input,button {
      font-size: 16px;
   }
   section.news { width: 1000px; }
}

@media only screen and (min-width: 1900px) {
   html,body,input,button {
      font-size: 18px;
   }
   section.news { width: 1200px; }
}