a {
	color: #00B7FF;
}
body{
    background: black;
	font-family: sans-serif;
	font-family: 0.875em sans-serif;
	color: lightgray;
}
button{
	background-color: #000000;
	color: lightgray;
}
img, div{
	margin:0;
	padding:0;
}
#logo{
	float:left;
}
#headertoggle{
	float:right;
}
#userinfo{
	float:right;
}
#container{
	width:100%;
	height:40em;
	margin: auto;
	outline: 0.125em groove #555555;
}
header{
	height:5em; 
	background-color: #000000;
	outline: 0.125em groove #555555;
}
#terminal-container {
	background-color: black;
    width: 80%;
    height: 35em;
	float: left;
}
#menu {
	background-color: black;
    width: 20%;
    height: 35em;
	float: left;
	outline: 0.125em groove #555555;
}
#chatlog {
	overflow-y: scroll;
	height: 15em;
	width:100%;
}
#chatmessage {
	background: black;
	color: lightgray;
}