a {
	color: #00B7FF;
}
* {	
    font-family: "Fixedsys", Terminal, monospace;
	background-color: #000000;
	color: lightgray;
}
body {
	margin: 0;
	padding: 0;
}
#container {
    background: black;
	line-height: 100%;
	color: lightgray;
}
.terminal {
  float: left;
  color: white;
  background: black;
  line-height: 100%;
}
.terminal-cursor {
  color: black;
  background: white;
}
#userinfo {

}
#terminal-container {
	background-color: black;
	float: left;
}
#menu {
	background-color: black;
	float:left;
	outline: 2px groove #555555;
}
#chatlog {
	overflow-y: scroll;
}
#chatmessage {
	background: black;
	color: lightgray;
}