a {
	color: #00B7FF;
}
@font-face {
    font-family: customFontA;
    src: url(Px437_IBM_VGA8.ttf);
}
@font-face {
    font-family: customFontB;
    src: url(YOzFontOTWD.ttf);
}
body {	

}
body,input,button,select,option {	
    font-family: monospace;
	margin: 0;
	padding: 0;
	background: black;
	color: lightgray;
	border: none;
}
input,button,select {
	background: transparent;
	outline-offset: -2px;
	outline: 2px outset darkgray;
	padding: 2px;
	margin: 1px;
}
input:hover,button:hover,select:hover {
	outline: 2px outset white;
}
#container {
    background: black;
	color: lightgray;
}
.winner{
	color: #AF11AF;
}
.silwinner{
	color: #EFEF11;
}
.terminal {
  float: left;
  color: white;
  background: black;
}
.terminal-cursor {
  color: black;
  background: white;
}
#userinfo {

}
#terminal-container {
	display: none;
	background-color: black;
	float: left;
}
#mainmenu {
	float: left;
}
#menu {
	background-color: black;
	float: left;
}
#settings {
	float: left;
}
#files {
	float: left;
	overflow-y: scroll;
}
#chat {
	float: left;
}
#chatlog {
	overflow-y: scroll;
}
#chatmessage {
	background: black;
	color: lightgray;
}