<div class="panel" id="settings">
    
    <table>
        <tbody>
            <tr>
                <td class="label">game terminal font</td>
                <td>
                    <select id="extra-fonts">
                        <option value="monospace">default</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td class="label">sidebar on bottom</td>
                <td>
                    <input id="opt-sidebar-bottom" type="checkbox">
                </td>
            </tr>
            
            <tr>
                <td class="label">UI font size</td>
                <td>
                    <select id="opt-ui-font-size"></select>
                </td>
            </tr>
            
        </tbody>
    </table>

</div>