.buttonrow
   img#logo(src="/img/logo.png")
.new-game
   .col
      .row
         .right-flex game
         .text-left
            select#gameselect
      .row
         .right-flex version
         .text-left
            select#versionselect
      .row
         p#game-description
   .col
      .row
         .right-flex game font
         .text-left
            select#extra-fonts
               option(value="monospace") default
      .row
        .right-flex font size
        .text-left
           input(type="number", min="8", max="40", step="0.5")#games-font-size
      .row.subwindow-basic
        .right-flex subwindows
        .text-left
           input(type="number", min="1", max="6")#subwindows
      .hidden.row.subwindow-extra
        .right-flex subwindow right
        .text-left
           input(type="number", min="0", max="80")#subwindow-right
      .hidden.row.subwindow-extra
        .right-flex subwindow right split
        .text-left
           input(type="number", min="0", max="80")#subwindow-right-split
      .hidden.row.subwindow-extra
        .right-flex subwindow top
        .text-left
           input(type="number", min="0", max="80")#subwindow-top
      .hidden.row.subwindow-extra
        .right-flex subwindow bottom
        .text-left
           input(type="number", min="0", max="80")#subwindow-bottom
      .hidden.row
         .right-flex ASCII walls
         .text-left
            select#ascii-walls
               option(value="no") no
               option(value="yes") yes
      .buttonrow
         a#deletebutton(href="#").hidden delete & download savefile
         a#updatebutton(href="#").hidden update
.buttonrow
   a#playbutton(href="#") PLAY
#watchmenu
  table
