html
   head
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
      title Angband Live
      link(rel="icon", type="image/png", href="/favicon.png")
      link(href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Cousine|Cutive+Mono|Droid+Sans+Mono|Fira+Mono|Inconsolata|Nova+Mono|Overpass+Mono|Oxygen+Mono|PT+Mono|Roboto+Mono|Share+Tech+Mono|Source+Code+Pro|Space+Mono|Ubuntu+Mono|VT323", rel="stylesheet")
      link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css",integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp",crossorigin="anonymous")
      link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css",integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG",crossorigin="anonymous")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="stylesheet", href="/css/tablet-ui.css")
      script(type="text/javascript", src="/js/jquery-3.2.1.min.js")
      script(type="text/javascript", src="/js/moment.min.js")
      script(src="term.js")
   body
      #container
         .flex
            audio#notification(src="/notify.mp3", autostart="false")
            .pane-main
               #games-lobby
                  include game_lobby.pug
               #terminal-pane.hidden
                  include game_terminal.pug
               #tester.terminal A
            .pane-side
               .tab-buttons.uchel
                  a.selected(href="#", title="navigation", onclick="showTab('tab-navigation',this)")
                     i.fas.fa-home
                  a(href="#", title="files", onclick="showTab('tab-files',this)")
                     i.fas.fa-file-alt
                  a#btn-tabletui.hidden(href="#", title="tablet controls", onclick="showTab('tab-tabletui',this)")
                     i.fas.fa-tablet-alt
                  a(href="#", title="settings", onclick="showTab('tab-settings',this)")
                     i.fas.fa-cog
                  
                  a.float-right(href="/logout", title="logout")
                     i.fas.fa-sign-out-alt
                  a.float-right(href="/", target="_blank",title="news")
                     i.fas.fa-newspaper

               .tab-panels.uchel
                  #tab-navigation.tab
                     include tab_navigation.pug
                  #tab-files.tab.hidden
                     include tab_files.pug
                  #tab-tabletui.tab.hidden
                     include tab_tabletui.pug
                  #tab-settings.tab.hidden
                     include tab_settings.pug
					 
               .tab-buttons.isaf
                  a#link-chat.selected(href="#", title="chat", onclick="showTab('tab-chat',this)")
                     i.fas.fa-comments
                  a(href="#", title="people", onclick="showTab('tab-people',this)")
                     i.fas.fa-users
					 
               .tab-panels.isaf
                  #tab-chat.tab
                     include tab_chat.pug
                  #tab-people.tab.hidden
                     include tab_people.pug
                  
      script.
         var username = "#{user.name}";
         console.log("user name:", username);
      script(type="text/javascript", src="/js/tablet-ui.js")
      script(type="text/javascript", src="/js/main-new.js")
