section
   .title DONATE
   .content
      p If you wan to help maintainer to support this server you can spare some tips to PayPal
      p 
         form.text-center(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='RTYK92PSGSRGE')
            input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online!')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1')

      h6 Top 5 donators
      div holy_rage 
         span.summ
            span.sign $
            | 15
      div anonymous
         span.summ
            span.sign $
            | 10
      div anonymous
         span.summ
            span.sign $
            | 5
      div anonymous
         span.summ
            span.sign $
            | 5
      div anonymous
         span.summ
            span.sign $
            | 5

      h6 Last 5 donators
      div anonymous
         span.summ
            span.sign $
            | 15
      div anonymous
         span.summ
            span.sign $
            | 10
      div anonymous
         span.summ
            span.sign $
            | 5
      div anonymous
         span.summ
            span.sign $
            | 5
      div anonymous
         span.summ
            span.sign $
            | 5
