section
   .title LOGIN
   .content
      form(method="post", action="/enter")
          div
              label nickname
              input#username(type="text", name="username", placeholder="min 3 characters..")
          div
              label password
              input#password(type="password", name="password")
          div
              input(type="submit", name="name", value="Enter")

      p &nbsp;
      p Please note that nickname must be at least 3 characters long, it can not have special characters, and password must contain at least 8 characters