#tablet-ui.flex-grow.panel.height-100p
   div
      .flex-row
         button#tu-save-quit.small.flex-button save & quit
         button#tu-edit-mode.small.flex-button edit fast skills
   h6 actions / keyboard
   div
      .flex-row
         button#tu_select_az.flex-button a-z
         button#tu_select_special.flex-button specials
         button#tu_select_actions.flex-button actions
   #tu-mode-keyboard
      .flex-row
         button#tu-key-a.flex-button a
         button#tu-key-b.flex-button b
         button#tu-key-c.flex-button c
         button#tu-key-d.flex-button d
         button#tu-key-e.flex-button e
         button#tu-key-1.num.flex-button 1
         button#tu-key-6.num.flex-button 6
      .flex-row
         button#tu-key-f.flex-button f
         button#tu-key-g.flex-button g
         button#tu-key-h.flex-button h
         button#tu-key-i.flex-button i
         button#tu-key-j.flex-button j
         button#tu-key-2.num.flex-button 2
         button#tu-key-7.num.flex-button 7
      .flex-row
         button#tu-key-k.flex-button k
         button#tu-key-l.flex-button l
         button#tu-key-m.flex-button m
         button#tu-key-n.flex-button n
         button#tu-key-o.flex-button o
         button#tu-key-3.num.flex-button 3
         button#tu-key-8.num.flex-button 8
      .flex-row
         button#tu-key-p.flex-button p
         button#tu-key-q.flex-button q
         button#tu-key-r.flex-button r
         button#tu-key-s.flex-button s
         button#tu-key-t.flex-button t
         button#tu-key-4.num.flex-button 4
         button#tu-key-9.num.flex-button 9
      .flex-row
         button#tu-key-u.flex-button u
         button#tu-key-v.flex-button v
         button#tu-key-w.flex-button w
         button#tu-key-x.flex-button x
         button#tu-key-y.flex-button y
         button#tu-key-5.num.flex-button 5
         button#tu-key-0.num.flex-button 0
      .flex-row
         button#tu-key-z.flex-button z
         button#tu_key_caps.flex-button CAPS
         button.invisible.flex-button(id="") -
         button.invisible.flex-button(id="") -
         button.invisible.flex-button(id="") -
         button#tu_special_key_13.flex-button
         button#tu_special_key_14.flex-button
   #tu-mode-specials.hidden
      .flex-row
         button#tu_special_key_1.flex-button
         button#tu_special_key_2.flex-button
         button#tu_special_key_3.flex-button
         button#tu_special_key_4.flex-button
         button#tu_special_key_15.flex-button
         button#tu_special_key_16.flex-button
      .flex-row
         button#tu_special_key_7.flex-button
         button#tu_special_key_8.flex-button
         button#tu_special_key_9.flex-button
         button#tu_special_key_10.flex-button
         button#tu_special_key_11.flex-button
         button#tu_special_key_12.flex-button
      .flex-row
         button#tu_special_key_5.flex-button
         button#tu_special_key_6.flex-button
         button#tu_special_key_17.flex-button
         button#tu_special_key_18.flex-button
         button#tu_special_key_19.flex-button
         button#tu_special_key_20.flex-button
      .flex-row
         button.invisible.flex-button -
      .flex-row
         button#tu_special_key_21.flex-button
         button#tu_special_key_22.flex-button
      .flex-row
         button.invisible.flex-button -
   #tu-mode-actions.hidden
      .flex-row
         button#tu_quick_1.flex-button
         button#tu_quick_2.flex-button
         button#tu_quick_3.flex-button
      .flex-row
         button#tu_quick_4.flex-button
         button#tu_quick_5.flex-button
         button#tu_quick_6.flex-button
      .flex-row
         button#tu_quick_13.flex-button
         button#tu_quick_14.flex-button
         button#tu_quick_15.flex-button
      .flex-row
         button#tu_quick_10.flex-button
         button#tu_quick_11.flex-button
         button#tu_quick_12.flex-button
      .flex-row
         button#tu_quick_16.flex-button
         button#tu_quick_17.flex-button
         button#tu_quick_9.flex-button
      .flex-row
         button#tu_quick_7.flex-button
         button#tu_quick_8.flex-button
         button#tu_quick_18.flex-button
   div
      .flex-row
         button#tu_key_esc.flex-button ESC
         button#tu_key_space.flex-button SPACE
         button#tu_key_enter.flex-button ENTER
   h6 fast skills / magic
   #tu-skills
      .flex-row
         button#tu_sc_1.fast.flex-button
         button#tu_sc_2.fast.flex-button
         button#tu_sc_3.fast.flex-button
         button#tu_sc_4.fast.flex-button
         button#tu_sc_5.fast.flex-button
      .flex-row
         button#tu_sc_6.fast.flex-button
         button#tu_sc_7.fast.flex-button
         button#tu_sc_8.fast.flex-button
         button#tu_sc_9.fast.flex-button
         button#tu_sc_10.fast.flex-button
      .flex-row
         button#tu_sc_11.fast.flex-button
         button#tu_sc_12.fast.flex-button
         button#tu_sc_13.fast.flex-button
         button#tu_sc_14.fast.flex-button
         button#tu_sc_15.fast.flex-button
   .flex-grow
   #tu-arrows
      .flex-row
         button#tu-arrows-7 7
         button#tu-arrows-8 8
         button#tu-arrows-9 9
      .flex-row
         button#tu-arrows-4 4
         button#tu-arrows-5 5
         button#tu-arrows-6 6
      .flex-row
         button#tu-arrows-1 1
         button#tu-arrows-2 2
         button#tu-arrows-3 3
   button#tu_key_run run
